/docs
.codex
.claude
.env
*.env.local

config/tls/*.key
config/tls/*.crt

/build/
*.tar.gz

*.key
*.crt
*.csr
signature.json

.idea/
.vscode/
.DS_Store
*.swp

/vendor/
composer.lock

.vscode
/node_modules
/.pnp
.pnp.js
